.cart-header {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.cart-row {
    width: 90%;
    height: auto;
    margin: 0 auto;
    border: 1px solid #333;
    border-radius: 15px;
    background-color: wheat;
    margin-bottom: 10px;
}

/* top section */
.cart-item-info{
    text-align: right;
    display: flex;
   
}
.cart-item-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

.cart-item-title{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 30%;
    
}

.cart-item-quantity{
    margin-top: 20px;
    margin-left: 20px;
    width: 50%;
}


.edit-button-div{
    text-align: right;
    width: 40%;
    margin-top: 20px;
}

.price-div{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

/*middle section*/
.options{
    margin-top: 10px;
}
.list-options{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-options h3{
    margin-bottom: 5px;
}

.list-option-item{
    margin-left: 20px;
    margin-bottom: 5px;
}

/*bottom section*/
.cart-bottom-section{
    width: 100%;
    height: 30px;
    padding: 3px;
}

.cart-price{
    float: left;
    margin-left: 5px;
}

.btn{
    float:right;
    margin-right: 5px;
}

.btn-edit{
    color: black;
    border: none;
    font-weight: bold;
    background-image: url("../images/edit.png");
}

.btn-remove{
    color: black;
    border: none;
    font-weight: bold;
}

.btn-remove:hover{
    color: red;
}