.nutritional-info{
    /*position: absolute;*/
    /*width: 30%;*/
    /*height: 20vw;*/
    /*border: 1px solid black;*/
    /*align-self: flex-end;*/
    /*bottom: 0;*/
}
.nutritional-info-img{
    width: 210px;
    height: 210px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nutritional-info-checkbox{
    width: 80%;
    position: relative;
    display: block;
    margin : 0 auto;;
    display: block;
}

#nutritional-info-text1{
    margin-left: 3%;
}
#nutritional-info-text2{
    margin-left: 3%;
}

.nutrition{
    /*visibility: hidden;*/
    /*border: 1px solid black;*/
    overflow: hidden;
    display: none;
}

#piechart-1{
    width: 25vw;
    height: 18vw;
    margin: 0 auto 0 auto;
    padding: 0;
    z-index: -1;
}
#piechart-2{
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 20vw;*/
    /*margin: 0 9vw 0 0;*/
    padding: 0;
    /*margin-right: 10vw;*/
    z-index: -1;
    margin-top: 1vw;
    /*border: 1px solid black;*/
}
#nutrition h2{
    margin: 5px 0 0 4.9vw;
    z-index: 2;
    font-size: 17px;
    text-align: left;
    font-weight: normal;
}