*{
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

/**Food category is done with scrollbar. Just need the option to click the image*/
.scrollbar-food-category{
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    overflow: auto;
    white-space: nowrap;
    display: block;
    z-index: 10;
}

.food-item{
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 13px;
    text-decoration: none;
    cursor: pointer;
}

.food-item img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#food-category-label{
    color: #333;
    margin: 10px 0;
    text-align: center;
}

#appetizers {
    margin-top: 200px;
}




/*Select dropdown*/
.select-box{
    position: absolute;
    right: 20px;
    width: 300px;

}
.select-box select{
    height: 42px;
    padding: 10px 15px;
    line-height: 22px;
    font-size: 16px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 8px;
    appearance: none;
}

.select-box:after{
    content: "";
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -4px;
    border-top: 8px solid #333;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    pointer-events: none;
}

/*category*/
.category-name {
    font-size: 40px;
    margin-top: 120px;
}





/*restaurant */
#restuarant-ul{
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    width: 100%;
}
.restaurant-li{
    position: relative;
    margin-left: 3%;
    padding: 5px;
    display: inline-block;
    box-sizing: border-box;
}

.restaurant-item{
    position: relative;
    background-color: #333;
    width: 320px;
    height: 320px;
    margin-left: 15%;
    margin-top: 5%;
    border-radius: 50%;
    padding-left: 10px;
    text-align: justify;
}

.restaurant-image{
    border-radius: 50%;
    display: block;
    width: 150px;
    height: 70px;
    padding:  10px 0;
    margin-left: 80px;
}

.restaurant-image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background:rgba(0,0,0, 0.75);
    color: rgb(154, 212, 154);
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    display: flex;/*display text in center*/
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0;/*makes the text to be hovered invisible*/
    transition: opacity 0.25s;/*animation for the hovered page*/  
}

.restaurant-image-overlay a{
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
    text-decoration:none ;
    padding: 3px;
}
.restaurant-image-overlay:hover{
    opacity: 1;/*show the text when image is hovered*/
}

/*Animation: Text is pushed up when image is hovered*/
.restaurant-image-overlay > *{
    transform: translateY(20px);
    transition: transform 1s;

}

.restaurant-image-overlay:hover > *{
    /*Text should come out from the bottom*/
    transform: translateY(0);
}

.restaurant-name{
    margin-top:-10px;
    padding: 2px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.restaurant-description{
    font-size: 13px;
    margin: 2px;
    padding: 0, 15  px;
}


#food-item-list{
    padding: 2 0;
}

#food-item-list .food-item img{
    width: 60px;
    height: 60px;
    margin-left: 8px;
}

.restaurant-li h6{
    position: relative;
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.restaurant-information{
    padding: 3px;
}

.restaurant-information h6{
    font-size: 17px;
}

.restaurant-distance{
    float: left;
    margin-top: 20px;
    margin-left: 70px;
    display: inline;
}

.restaurant-time{
    float:right;
    margin-top: 20px;
    margin-right: 70px;
    display: inline;
}



/**First idea
body{
    margin: 0;
}
.food-category{
    background-color: lightgrey;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px #000;
}

ul .food-images{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: lightgrey;
    
}

.food-category ul li{
    display: inline;
    float: left;
    margin-left: 30px;
    text-align: center;;
}

.food-category img{
    margin-top: -10px;
    border-radius: 50%;
    display: block;
}
**/