*{
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
    background-color: wheat;

}

hr{

    width: 95%;
    margin: auto;
    margin-bottom: 10px;
    
}

a {
    text-decoration: none;
}
/*Menu section*/

.categories{
    text-align: center;
    padding: 10px 20px;
}

#menu-section{
    float: left;
    width:70%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #fff;
    overflow-y: auto;
}

/**Food category is done with scrollbar. Just need the option to click the image*/
.scrollbar-category{
    border: 0.5px solid #333;
    border-radius: 10px;
    overflow-x: auto;
    height: auto;
    white-space: nowrap;
}

.category-item{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 6px 0;
    background: #333;
    margin-left: 10px;
    margin-right: 3%;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-decoration: none;
    cursor: pointer;
}

.category-item h5{
    font-size: 16px;
    font-weight: lighter;    
}

/*menu-list*/

.menu-category-name{
    margin-top: 20px;
    font-size: 20px;
}

.menu-category-name-underlined{
    width: 20%;
    margin: 0;
    margin-top: 10px;
}

.menu-categories{
    margin-left: 10px;
    width: 90%;
}

.menu-category-grouped-items{
    margin-left: auto;
    margin-right: auto;
}
  
.menu-category-item{
    position: relative;
    background-color: #333;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    text-align: justify;
    border: 1px solid #333;
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;

}

.menu-category-item h5{
    text-align: center;
    margin-top: 5px;
    overflow-x: none;
}

.menu-category-item-image{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: inline;
}


.menu-category-item-image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background:rgba(0,0,0, 0.75);
    color: #fff;
    font-weight: lighter;
    font-family: 'Quicksand', sans-serif;
    display: flex;/*display text in center*/
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0;/*makes the text to be hovered invisible*/
    transition: opacity 0.25s;/*animation for the hovered page*/  
}

.menu-category-item-image-overlay:hover{
    opacity: 1;/*show the text when image is hovered*/
}

/*Animation: Text is pushed up when image is hovered*/
.menu-category-item-image-overlay > *{
    transform: translateY(20px);
    transition: transform 1s;

}

.menu-category-item-image-overlay:hover > *{
    /*Text should come out from the bottom*/
    transform: translateY(0);
}

.menu-category-item-description{
    font-size: 13px;
    margin: 2px;
}


/***************************************************/
/*Cart section*/
/*Order div*/
#cart-section{
    float: right;
    width: 30%;
    height: 100%;
    box-sizing: border-box;
}

.order-div{
    padding: 10px;
    margin: 3px 3px;
}


.ordered-list{
    list-style: none;
    padding: 5px;
    margin: 2px;
}

.ordered-item{
    margin-bottom: 10px;
    width: 80%;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #333;
    padding-top: 15px;
    padding-left: 10px;
}

#cart-section h2{
    text-align: center;
}


.heading-text{
    margin: 10px;
    padding: 5px 4px;
}

/*checkout-div*/

.checkout-div{
    margin: 3px 3px;
    padding: 10px;
    width: 80%;
    display: inline-block;
}

#btnCheckout{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #333;
}

/**************************************************************************/
/*For Summary page*/
.blur {
    filter: blur(2px);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: auto; /* Enable scroll if needed */
    border: 2px solid #333;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #333;
    margin: 40px auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 85%; 
    height: 100vh;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #content{
      width: 100%;
      height: 100%;
  }

