*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
/**************************************************************************/
/*For Summary page*/
.blur {
    filter: blur(2px);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: auto; /* Enable scroll if needed */
    border: 2px solid #333;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #333;
    margin: 40px auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 85%; 
    height: 100vh;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #content{
      width: 100%;
      height: 100%;
  }

  
.wrapper{
    padding: 10px;
    margin-right: 10px;
}

.heading-text{
    margin: 10px;
    padding: 5px 4px;
}

hr{

    width: 95%;
    margin: auto;
}

/*Left side of the summary page*/
#left-side{
    float: left;
    width: 55%;
    height: 100%;
    border-right: 0.2px solid #333;
}

#ordered-list{
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    height: 30vh;
    overflow-y: auto;
}

.ordered-row {
    display: flex;
    align-items: center;
    padding: 10px auto;
    border: 1px solid #333;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 10px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}


.ordered-item-title {
    color: #333;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;

}

.ordered-item-image {
    margin:3px 3px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.ordered-quantity{
    color: #333;
    font-size: 15px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

#user-input-group{
    margin-top: 10px;
}

#user-inputs{
    margin-top:  5px;
    padding-right: 5px;
    float: left;
    width: 40%;
}

#user-card-info{
    margin-top: 5px;
    margin-right: 60px;
    float: right;
    width: 45%;
}

.user-information{
    display: block;
    margin-top: 20px;
    width: 100%;
    height: 25px;
    margin-left: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #333;
}

#expiry-date-label{
    font-size: 17px;
    margin-top: 20px;
    margin-left: 40px;
    padding-top: 20px;
    float: left;
}

#expiry-date-information{
    display: block;
    margin-top: 20px;
    width: 40%;
    height: 25px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #333;
    float: right;
}

/*Right side of the summary page*/
#right-side{
    float: right;
    width: 40%;
    height: 100%;
}

#piechart-info{
    width: 100%;
    margin: 10px;
    padding: 5px;
}

#piechart{
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(128, 119, 119);
    color: #333;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#checkbox-for-chart{
    width: 25px;
    height: 25px;
}

label{
    font-size: 18px;
}

#total-order-information{
    margin-top: 20px;
    padding: 10px 5px;
}

.order-cost{
    margin:5px;
    font-size: 20px;

}

.sum-page-button{
    width: 40%;
    height: 50px;
    border: 1px solid #333;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 30px;
}
